* {
  font-family: Helvetica;
  list-style: none;
  padding: 10px;
  margin: 0;
}

body {
  background-image: url("https://i.pinimg.com/736x/c6/1f/3d/c61f3d6af740b289428ac80991c7351d.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

#main {
  overflow-x: auto;
  padding: 0;
  /* white-space: nowrap; */
}

.playlist ul {
  display: flex;
}

.playlist li {
  display: flex;
  flex-direction: column;
  padding-top: 0px; /* Adjusted padding */
  padding-right: 1em; /* Reduced padding-right */
  width: 40vw;
  overflow: hidden;
  word-break: break-all;
}


.height {
  display: block;
  height: 0px;
}

p {
  font-family: "Courier Prime", monospace;
  font-weight: regular;
  font-size: 1.5rem;
  color: aquamarine;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  white-space: normal;
}

img {
  border-radius: 16px;
  width: 100%;
}

.content {
  display: flex;
}

.flex-item {
  flex: 0 1 50%;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 2em;
  cursor: pointer;
  border-radius: 8px;
  color: blue;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.scroll-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#scrollLeftButton {
  right: auto;
  left: 20px;
}

.tit {
  position: -webkit-sticky;
  position: sticky;
  /* top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  display: flex;*/
  flex-direction: column; 
}

h2 {
  font-family: "Tourney", sans-serif;
  display: flex;
  align-items: stretch;
  font-optical-sizing: auto;
  font-weight: 100;
  /* position:; */
  padding-left: 30px;
  padding-bottom: 0px;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: aquamarine;
  outline: none;
}

h2:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

.genre-container {
  display: flex; 
  /* align-items: stretch; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
 
}

.genre-container button,
.overview-button {
  padding: 10px 15px;
  width: 150px; /* Fixed width for all buttons */
  /* background-color: rgba(255, 255, 255, 0.2); */
  border: 0px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  color: aquamarine;
  border-radius: 8px;
  font-family: "Courier Prime", monospace;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px); */
  -webkit-backdrop-filter: blur(5px);
}

.genre-container button:hover,
.overview-button:hover {
  background-color: aquamarine;
  color: blueviolet;
}
